# Python関連
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# 仮想環境
venv/
.env
.env.*

# PyCharmやVSCode設定ファイル
.idea/
.vscode/

# macOS関連
.DS_Store

# logファイル
*.log

# 静的ファイル（ビルド生成物など）
static/result.png

# Playwrightのブラウザキャッシュ
ms-playwright/

# secrets
pixiv_cookies.json

# coverage reports
htmlcov/
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

