<!doctype html>
<html>
<head><title>クッキー取得</title></head>
<body>
  <h1>今日は初回アクセスなのでクッキーを取得します</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <p style="color:{% if category=='error' %}red{% elif category=='warning' %}orange{% else %}green{% endif %}">{{ message }}</p>
    {% endfor %}
  {% endwith %}
  <form method="post">
    ID: <input type="text" name="username" placeholder="example@example.com"><br>
    PASS: <input type="password" name="password"><br>
    <button type="submit" name="login">ログインしてクッキーを取得</button>
  </form>
</body>
</html>
